.App {
  position: relative;
  margin: 0;
  text-align: center;
}

.content{
  border: 1px solid;
  height: 450px;
  width: 900px;
  background-color: skyblue;
  position:  relative;
  top: 150px;
  left: 350px;
}

.form{
  position: relative;
  top: 200px;
}

.button{
  position: relative;
  top: 300px;
  border-radius: 20%;
  height: 50px;
  width: 50px;
  background-color: chartreuse;
}

